page-inicio-del-juego {
    ion-content{
        background-image: url("/assets/imgs/fondo-inicio.png") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .boton_aceptar{
        border-radius: 14px 14px 14px 14px;
        -moz-border-radius: 14px 14px 14px 14px;
        -webkit-border-radius: 14px 14px 14px 14px;
        // border: 2px solid #BA7EA5;
        background-color: #BA7EA5;
        padding: 30px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .iconos{
        font-size: 27px;
        color: #420039;
    }  
    ion-input{
        font-family: monospace; 
        font-size: 1em !important;
    }
    ion-label{
        font-family: monospace; 
        font-size: 1.25em !important;
        color: #420039 !important;
    }
}
