page-ranking {
    .nombreDelUsuario{
        font-size: 1.4em;
        font-family: "Rokkitt";
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
    .numeroDelRanking{
        font-size: 1.5em;
        font-family: "Rokkitt";
    }
    // .contenedorDeGanadas{
    //     font-size: 1.2em;
    // }
    .texto_ganadas{
        font-size: 1.1em;
        color: #333;
        font-family: "Rokkitt";
    }

    .numero_victorias{
        font-size: 1.1em;
        color: #333;
        font-family: "Rokkitt";
    }
}
