<!-- <ion-header>
  <ion-navbar>
    <progress-bar [progress]="loadProgress"></progress-bar>
  </ion-navbar>
</ion-header> -->
<ion-header>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap2.min.css">
    <script src="/assets/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </head>
  <ion-navbar color=StyleNaranjaPropio>
    <div class="progress" style="height:30px;">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
        [style.width]="loadProgress + '%'">
        <span style="height: 90px; line-height: 30px; text-align: center; font-size:20px; color:#333; font-weight:bolder;">{{loadProgressTime}} s</span>
      </div>
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid padding>
    <ion-row class="borderTituloPregunta">
      <!-- *ngFor="let item of preguntas; let i = index" -->
      <ion-col col-12 text-center class="preguntaDeLaPartida">
        <!-- Escribe todos los animales que empiezen por la letra "p" -->
        {{MostrarLaPregunta}}
      </ion-col>
    </ion-row>

    <ion-row class="borderRespuestaAPregunta" *ngFor="let item of arrayRespuestasUsuario; let i = index">
      <ion-col col-2>
      </ion-col>
      <ion-col col-6 text-left class="respuestasDelUsuario">
        {{item.respuesta}}
      </ion-col>
      <ion-col col-2 text-right>
        <ion-icon ios="ios-{{item.icono}}" md="md-{{item.icono}}" class="icono"></ion-icon>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>



    <!-- <ion-row class="borderRespuestaAPregunta">
      <ion-col col-2>
      </ion-col>
      <ion-col col-6 text-left>
        Respuesta
      </ion-col>
      <ion-col col-2 text-right>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row> -->
  </ion-grid>





  <form [formGroup]="formularioEnviarRespuestas" (ngSubmit)="guardarFormularioEnviarRespuestas()">
    <ion-item>
      <ion-input clearInput id="inputDeEnviarRespuestas" type="text" formControlName="respuesta" placeholder="Escriba aquí" maxlength="18"></ion-input>
      <button id="botonRespuestas" clear ion-button type="submit" color="danger" small item-right [disabled]="!formularioEnviarRespuestas.valid">Siguiente</button>
    </ion-item>
  </form>

  <!-- <button clear ion-button type="submit" color="danger" small item-right (click)="IrARondas();">Rondas</button> -->
</ion-content>